// {{.Table.TableName}} {{.Table.TableComment}}
import http from '@/utils/request'
import type { Res{{CamelStr .Table.TableName}}, Req{{CamelStr .Table.TableName}}Params } from '@/api/interface/{{Helper .Table.TableName}}'

{{- range .Method}}
{{- if eq .Type "Create"}}
// {{.Table.TableComment}}创建数据
export const add{{CamelStr .Table.TableName}}Api = (params: Res{{CamelStr .Table.TableName}}) => {
  return http.post({{ApiList "add"}}, params)
}
{{- else if eq .Type "Update"}}
// {{.Table.TableComment}}更新数据
export const update{{CamelStr .Table.TableName}}Api = (id: number, params: Res{{CamelStr .Table.TableName}}) => {
  return http.put({{ApiList "update"}}, params)
}
{{- else if eq .Type "Show"}}
// {{.Table.TableComment}}查询单条数据
export const get{{CamelStr .Table.TableName}}Api = (id: number) => {
  return http.get<Res{{CamelStr .Table.TableName}}>({{ApiList "item"}})
}
{{- else if eq .Type "Delete"}}
// {{.Table.TableComment}}删除数据
export const delete{{CamelStr .Table.TableName}}Api = (id: number) => {
  return http.delete({{ApiList "delete"}})
}
{{- else if eq .Type "Drop"}}
// {{.Table.TableComment}}清理数据
export const drop{{CamelStr .Table.TableName}}Api = (id: number) => {
  return http.delete({{ApiList "drop"}})
}
{{- else if eq .Type "Recover"}}
// {{.Table.TableComment}}恢复数据
export const recover{{CamelStr .Table.TableName}}Api = (id: number) => {
  return http.put({{ApiList "recover"}})
}
{{- else if eq .Type "List"}}
// {{.Table.TableComment}}列表数据
export const get{{CamelStr .Table.TableName}}ListApi = (params?: Req{{CamelStr .Table.TableName}}Params) => {
{{- if .Page}}
  return http.get<ResultPage<Res{{CamelStr .Table.TableName}}>>({{ApiList "list"}}, params)
{{- else}}
  return http.get<Res{{CamelStr .Table.TableName}}[]>({{ApiList "list"}}, params)
{{- end}}
}


// {{.Table.TableComment}}列表(精简)数据
export const get{{CamelStr .Table.TableName}}ListSimpleApi = (params?: Req{{CamelStr .Table.TableName}}Params) => {
{{- if .Page}}
  return http.get<ResultPage<Res{{CamelStr .Table.TableName}}>>({{ApiList "list"}}, params)
{{- else}}
  return http.get<Res{{CamelStr .Table.TableName}}[]>({{ApiList "list"}}, params)
{{- end}}
}

{{- end}}
{{- end}}