<template>
  <div class="table-box">
	<ProTable
	  ref="proTable"
	  title="{{.Table.TableComment}}列表"
	  row-key="id"
    :columns="columns"
    :toolbar-right="['search', 'refresh', 'export', 'layout']"
    :request-api="getTableList"
    :request-auto="true"
	  :pagination="{{.Page}}"
	  :search-col="12">
	    <template #toolbarLeft>
	  	{{- if InMethod .Method "Create"}}
        <el-button v-auth="'{{.Pkg}}.{{CamelStr .Table.TableName}}Create'" type="primary" :icon="CirclePlus" @click="handleAdd">新增</el-button>
		  {{- end}}
      </template>
	    {{- if .SoftDelete}}
	    <!-- 删除状态 -->
      <template #deleted="scope">
        <DictTag type="deleted" :value="scope.row.deleted" />
      </template>
      <template #status="scope">
        <DictTag type="status" :value="scope.row.status" />
      </template>
	    {{- end}}
	  <!-- 菜单操作 -->
	  <template #operation="scope">
      {{- if InMethod .Method "Show"}}
      <el-button v-auth="'{{.Pkg}}.{{CamelStr .Table.TableName}}'" type="primary" link :icon="View" @click="handleItem(scope.row)">
        查看
      </el-button>
      {{- end}}
      <el-dropdown trigger="click">
        <el-button
              v-auth="[
                {{- if InMethod .Method "Update"}}
                '{{.Pkg}}.{{CamelStr .Table.TableName}}Update',
                {{- end}}
                {{- if InMethod .Method "Delete"}}
                '{{.Pkg}}.{{CamelStr .Table.TableName}}Delete',
                {{- end}}
                {{- if InMethod .Method "Recover"}}
                '{{.Pkg}}.{{CamelStr .Table.TableName}}Recover',
                {{- end}}
                {{- if InMethod .Method "Drop"}}
                '{{.Pkg}}.{{CamelStr .Table.TableName}}Drop',
                {{- end}}
              ]"
              type="primary"
              link
              :icon="DArrowRight">
              更多
        </el-button>
        <template #dropdown>
          <el-dropdown-menu>
            {{- if InMethod .Method "Update"}}
            <div v-auth="'{{.Pkg}}.{{CamelStr .Table.TableName}}Update'">
            <el-dropdown-item  :icon="EditPen" @click="handleUpdate(scope.row)">
              编辑
            </el-dropdown-item>
            </div>
            {{- end}}
            {{- if InMethod .Method "Delete"}}
            <div v-auth="'{{.Pkg}}.{{CamelStr .Table.TableName}}Delete'">
            <el-dropdown-item
              v-if="scope.row.deleted === 0"
              :icon="Delete"
              @click="handleDelete(scope.row)">
              删除
            </el-dropdown-item>
            </div>
            {{- end}}
            {{- if InMethod .Method "Recover"}}
            <div v-auth="'{{.Pkg}}.{{CamelStr .Table.TableName}}Recover'">
            <el-dropdown-item
              v-if="scope.row.deleted === 1"
              :icon="Refresh"
              @click="handleRecover(scope.row)">
              恢复
            </el-dropdown-item>
            </div>
            {{- end}}
            {{- if InMethod .Method "Drop"}}
            <div v-auth="'{{.Pkg}}.{{CamelStr .Table.TableName}}Drop'">
            <el-dropdown-item
              v-if="scope.row.deleted === 1"
              :icon="DeleteFilled"
              @click="handleDrop(scope.row)">
              清理
            </el-dropdown-item>
            </div>
            {{- end}}
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </template>
	</ProTable>
	<el-dialog
      v-model="dialogVisible"
      :title="title"
      width="40%"
      destroy-on-close
      align-center
      center
      append-to-body
      draggable
      :lock-scroll="false"
      class="dialog-settings">
	  <el-form ref="ref{{CamelStr .Table.TableName}}Form" :model="{{Helper .Table.TableName}}Form" :rules="rules{{CamelStr .Table.TableName}}Form" label-width="100px">
		{{- range .TableColumn}}
		<el-form-item label="{{.ColumnComment}}" prop="{{Helper .ColumnName}}">
          <el-input v-model="{{Helper $.Table.TableName}}Form.{{Helper .ColumnName}}" :disabled="disabled" />
    </el-form-item>
		{{- end}}
	  </el-form>
	  <template v-if="!disabled" #footer>
		<span class="dialog-footer">
		  <el-button @click="resetForm(ref{{CamelStr .Table.TableName}}Form)">取消</el-button>
		  <el-button type="primary" :loading="loading" @click="submitForm(ref{{CamelStr .Table.TableName}}Form)">确定</el-button>
		</span>
	  </template>
	</el-dialog>
  </div>
</template>
<script setup lang="tsx">
defineOptions({ name: '{{CamelStr .Table.TableName}}' })
import type { Res{{CamelStr .Table.TableName}} } from '@/api/interface/{{Helper .Table.TableName}}'
import type { ProTableInstance, ColumnProps
{{- if .SoftDelete}}
, SearchProps
{{- end}}
} from '@/components/ProTable/interface'
import {
	{{- if InMethod .Method "Update"}}
	EditPen,
	{{- end}}
	{{- if InMethod .Method "Create"}}
	CirclePlus,
	{{- end}}
	{{- if InMethod .Method "Delete"}}
	Delete,
	{{- end}}
	{{- if InMethod .Method "Recover"}}
	Refresh,
	{{- end}}
	{{- if InMethod .Method "Drop"}}
	DeleteFilled,
	{{- end}}
	{{- if InMethod .Method "Show"}}
	View,
	{{- end}}
	DArrowRight,
	} from "@element-plus/icons-vue";
import {
  {{- if InMethod .Method "List"}}
  get{{CamelStr .Table.TableName}}ListApi,
  {{- end}}
  {{- if InMethod .Method "Delete"}}
  delete{{CamelStr .Table.TableName}}Api,
  {{- end}}
  {{- if InMethod .Method "Drop"}}
  drop{{CamelStr .Table.TableName}}Api,
  {{- end}}
  {{- if InMethod .Method "Recover"}}
  recover{{CamelStr .Table.TableName}}Api,
  {{- end}}
  {{- if InMethod .Method "Show"}}
  get{{CamelStr .Table.TableName}}Api,
  {{- end}}
  {{- if InMethod .Method "Create"}}
  add{{CamelStr .Table.TableName}}Api,
  {{- end}}
  {{- if InMethod .Method "Update"}}
  update{{CamelStr .Table.TableName}}Api,
  {{- end}}
} from "@/api/modules/{{Helper .Table.TableName}}";
import type { FormInstance, FormRules } from 'element-plus'
{{- if .SoftDelete}}
import { getIntDictOptions } from "@/utils/dict";
import { DictTag } from "@/components/DictTag";
{{- end}}
import { useHandleData, useHandleSet } from "@/hooks/useHandleData";
import { HasAuth } from "@/utils/auth";
import { useLoadingStore } from '@/stores/modules/loading'
import { storeToRefs } from 'pinia'
// 获取loading状态
const { loading } = storeToRefs(useLoadingStore())
//禁用
const disabled = ref(true)
//弹出层标题
const title = ref('')
//列表数据
const proTable = ref<ProTableInstance>()
//显示弹出层
const dialogVisible = ref(false)
//数据接口
const {{Helper .Table.TableName}}Form = ref<Res{{CamelStr .Table.TableName}}>({
{{Json .TableColumn}}
});
//表单
const ref{{CamelStr .Table.TableName}}Form = ref<FormInstance>()
//校验
const rules{{CamelStr .Table.TableName}}Form = reactive<FormRules>({
  {{Rule .TableColumn}}
});



/**
 * 获取表格数据列表
 * @param params 查询参数对象
 * @returns 返回列表数据的Promise对象
 */
const getTableList = (params: any) => {
  // 深拷贝参数对象，避免修改原始参数
  let newParams = JSON.parse(JSON.stringify(params))
  return get{{CamelStr .Table.TableName}}ListApi(newParams)
}

/**
 * 重置数据
 * 该函数用于清空或初始化
 * @returns {void} 无返回值
 */
const reset{{CamelStr .Table.TableName}} = () => {
  // 设置{{Helper .Table.TableName}}Form为默认值
  Object.assign({{Helper .Table.TableName}}Form.value, {
    {{Json .TableColumn}}
  })
}

/**
 * 重置函数
 * @returns {void}
 */
const reset = () => {
  // loading.value = false
  reset{{CamelStr .Table.TableName}}()
  disabled.value = true
}

{{- if InMethod .Method "Create"}}
/**
 * 处理新增操作
 * 该函数用于初始化对话框的状态
 */
const handleAdd = () => {
  title.value = '新增{{.Table.TableComment}}'
  dialogVisible.value = true
  reset()
  disabled.value = false
}
{{- end}}

{{- if InMethod .Method "Update"}}
/**
 * 处理更新操作
 * @param row - 要更新数据对象
 */
const handleUpdate = async (row: Res{{CamelStr .Table.TableName}}) => {
  title.value = '编辑{{.Table.TableComment}}'
  dialogVisible.value = true
  reset()
  const data = await get{{CamelStr .Table.TableName}}Api(Number(row.id))
  {{Helper .Table.TableName}}Form.value = data
  disabled.value = false
}
{{- end}}

{{- if InMethod .Method "Show"}}
/**
 * 处理查看操作
 * @param row - 要查看数据对象
 */
const handleItem = async (row: Res{{CamelStr .Table.TableName}}) => {
  title.value = '查看{{.Table.TableComment}}'
  dialogVisible.value = true
  reset()
  const data = await get{{CamelStr .Table.TableName}}Api(Number(row.id))
  {{Helper .Table.TableName}}Form.value = data
  disabled.value = true
}
{{- end}}

{{- if InMethod .Method "Drop"}}
/**
 * 处理清理操作
 * @param row - 要清理数据对象
 */
const handleDrop = async (row: Res{{CamelStr .Table.TableName}}) => {
  await useHandleData(drop{{CamelStr .Table.TableName}}Api, Number(row.id), '清理{{.Table.TableComment}}')
  proTable.value?.getTableList()
}
{{- end}}

{{- if InMethod .Method "Delete"}}
/**
 * 处理删除操作
 * @param row - 要删除数据对象
 */
const handleDelete = async (row: Res{{CamelStr .Table.TableName}}) => {
  await useHandleData(delete{{CamelStr .Table.TableName}}Api, Number(row.id), '删除{{.Table.TableComment}}')
  proTable.value?.getTableList()
}
{{- end}}

{{- if InMethod .Method "Recover"}}
/**
 * 处理恢复操作
 * @param row - 要恢复数据对象
 */
const handleRecover = async (row: Res{{CamelStr .Table.TableName}}) => {
  await useHandleData(recover{{CamelStr .Table.TableName}}Api, Number(row.id), '恢复{{.Table.TableComment}}')
  proTable.value?.getTableList()
}
{{- end}}

/**
 * 重置表单并关闭对话框
 * @param formEl - 表单实例对象，用于调用重置方法
 */
const resetForm = (formEl: FormInstance | undefined) => {
  dialogVisible.value = false
  if (!formEl) return
  formEl.resetFields()
}


// 提交数据
const submitForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.validate(async valid => {
    if (!valid) return
    // loading.value = true
    const data = {{Helper .Table.TableName}}Form.value as unknown as Res{{CamelStr .Table.TableName}}
    if (data.id !== 0) {
      await useHandleSet(update{{CamelStr .Table.TableName}}Api, data.id, data, '修改{{.Table.TableComment}}')
    } else {
      await useHandleData(add{{CamelStr .Table.TableName}}Api, data, '添加{{.Table.TableComment}}')
    }
    resetForm(formEl)
    // loading.value = false
    proTable.value?.getTableList()
  })
}

{{- if .SoftDelete}}
//删除状态
const deletedEnum = getIntDictOptions("deleted");
// 表格配置项
const deleteSearch = reactive<SearchProps>(
  HasAuth("{{.Pkg}}.{{CamelStr .Table.TableName}}Delete")
    ? {
        el: "switch",
        span: 2,
        attrs: {
          activeValue: 1,
          inactiveValue: 0,
        },
      }
    : {}
);
{{- end}}

const columns: ColumnProps<Res{{CamelStr .Table.TableName}}>[] = [
	  {{Props .TableColumn .Condition}}
	  {
		prop: "operation",
		label: "操作",
		width: 150,
		fixed: "right",
		isShow: HasAuth(
      {{- if InMethod .Method "Update"}}
      "{{.Pkg}}.{{CamelStr .Table.TableName}}Update",
      {{- end}}
      {{- if InMethod .Method "Delete"}}
      "{{.Pkg}}.{{CamelStr .Table.TableName}}Delete",
      {{- end}}
      {{- if InMethod .Method "Drop"}}
      "{{.Pkg}}.{{CamelStr .Table.TableName}}Drop",
      {{- end}}
      {{- if InMethod .Method "Recover"}}
      "{{.Pkg}}.{{CamelStr .Table.TableName}}Recover",
      {{- end}}
      {{- if InMethod .Method "Show"}}
      "{{.Pkg}}.{{CamelStr .Table.TableName}}",
      {{- end}}
    )}
];
</script>
<style scoped lang="scss">
@use '@/styles/custom';
</style>