// {{.Table.TableName}} {{.Table.TableComment}}
{{- if .Page}}
export interface Req{{CamelStr .Table.TableName}}Params extends RequestPage {
{{- else}}
export interface Req{{CamelStr .Table.TableName}}Params {
{{- end}}
  {{TypeScriptCondition .Condition}}
}

export interface Res{{CamelStr .Table.TableName}} {
  {{TypeScript .TableColumn}}
}