/* 自定义 element 暗黑模式 */
html.dark {
  /* wangEditor */
  --w-e-toolbar-color: #eeeeee;
  --w-e-toolbar-bg-color: #141414;
  --w-e-textarea-bg-color: #141414;
  --w-e-textarea-color: #eeeeee;
  --w-e-toolbar-active-bg-color: #464646;
  --w-e-toolbar-border-color: var(--el-border-color-darker);
  .w-e-bar-item button:hover,
  .w-e-menu-tooltip-v5::before {
    color: #eeeeee;
  }

  /* login */
  .login-container {
    background-color: #191919 !important;
    .login-box {
      background-color: rgb(0 0 0 / 80%) !important;
      .login-form {
        box-shadow: rgb(255 255 255 / 12%) 0 2px 10px 2px !important;
        .logo-text {
          color: var(--el-text-color-primary) !important;
        }
      }
    }
  }
}

// 默认主题
html[data-vxe-ui-theme='light'] {
  // 字体颜色
  --vxe-ui-font-color: #606266;

  // 主题颜色
  --vxe-ui-font-primary-color: #409eff;

  // 活动颜色
  --vxe-ui-font-primary-tinge-color: #d4d5d7;

  // 松开颜色
  --vxe-ui-font-primary-lighten-color: #797b80;

  // 按下颜色
  --vxe-ui-font-primary-darken-color: #47494c;

  // 禁用颜色
  --vxe-ui-font-primary-disabled-color: #bfbfbf;
}

// 暗黑主题
html[data-vxe-ui-theme='dark'] {
  --vxe-ui-font-color: #a0a3a7;
  --vxe-ui-font-primary-color: #409eff;
  --vxe-ui-font-primary-tinge-color: #33353b;
  --vxe-ui-font-primary-lighten-color: #797b80;
  --vxe-ui-font-primary-darken-color: #47494c;
  --vxe-ui-font-primary-disabled-color: #464646;
}
